@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Playfair Display SC", sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

h1, h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: 252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 75px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

/* #menu li kod är inte rätt... allt ska centreras */

#menu li {
    display: table;
    vertical-align: center;
    list-style-type: none;
    margin-right: 30px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* featured plants */

#featured {
    text-align: center;
}