@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

h1, h2 {
    font-family: "Playfair Display SC", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 75px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

/* #menu li kod är inte rätt... allt ska centreras */

#menu li {
    list-style-type: none;
    display: inline-block
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#cover-text {
    font-size: 100%;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 500px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 240px;
    right: 100px;

    position: absolute;
}



/* featured plants */

#my-plants {
    height: 200px;
}

#welcome-plants {
    height: 500px;
    width: 50%;
    background-image: url('../images/monstera_adasonii.jpg');
    margin: 20px 0 20px 0;
}

#featured {
    text-align: center;
    margin: 5px;
    font-size: 180%;
}

#left-about {
    background-image: url('../images/coleus1.jpg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: left;
}

/* care station */

#care {
    text-align: center;
}

#monstera-care {
    font-size: 180%;
    text-align: center;
    margin-top: 20px;
}

.care-image1 {
    height: 500px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    margin-top: 20px;
}

p {
    margin-top: 20px;
    text-align: center;
    width: 50%;
}


/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* media queries

/* for larger to medium screen size from 1200px and down */

/* @media screen and (max-width: 1200px) {
    #my-plants {
        width: 65%;
        height: 1200px;
        margin; 0 auto;
    }

    #featured {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}  */